<!doctype html>
<html>
  <head>
    <title>Files</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>


<!-- list box of files -->
<select name="files" id="files">
    {% for file in files %}
    <option value="{{file.blob_url}}?{{file.blob_sas}}">{{file.blob_name}}</option>
    {% endfor %}
</select>

<br/>
<span>
{% for file in files %}
    <a href="{{file.blob_url}}?{{file.blob_sas}}">{{file.blob_name}}</a>
{% endfor %}
</span>

<br/>
<span>

    {% for file in files %}
        <img src="{{file.blob_url}}?{{file.blob_sas}}"
        alt="{{file.blob_name}}"
        style="width: 200px"
        />
    {% endfor %}
</span>
</body>
</html>