<!doctype html>
<html>
  <head>
    <title>Files</title>
    {{ dropzone.load_css()}}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css"> -->
  </head>
  <body>

    {{ dropzone.load_js()}}

<!--
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form> -->


    <!-- <hr/>
    <h1>File Upload</h1>
    <form action="{{ url_for('upload_file') }}" class="dropzone">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script> -->

    <hr/>

    <h1> DropZone</h1>
    {{ dropzone.create(action=url_for('upload_file'))}}

    <hr/>

<!-- list box of files -->
<select name="files" id="files">
    {% for file in files %}
    <option value="{{file.blob_url}}?{{file.blob_sas}}">{{file.blob_name}}</option>
    {% endfor %}
</select>

<br/>
<span>
{% for file in files %}
    <a href="{{file.blob_url}}?{{file.blob_sas}}">{{file.blob_name}}</a>
{% endfor %}
</span>

<br/>
<span>

    {% for file in files %}
        <img src="{{file.blob_url}}?{{file.blob_sas}}"
        alt="{{file.blob_name}}"
        style="width: 200px"
        />
    {% endfor %}
</span>
</body>
</html>